/* beloved reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
}
:focus {
  border: 10px solid pink;
  background-color: white;
}
:root {
  --border: black;
  --red: rgb(235, 174, 188);
  --orange: rgb(255, 202, 187);
  --yellow: lemonchiffon;
  --green: rgb(200, 220, 190);
  --blue: rgb(195, 222, 235);
  --indigo: rgb(151, 171, 212);
  --violet: rgb(225, 182, 219);
  --purple: mediumpurple;
  --aquamarine: var(--aquamarine) background: var(--primary-colour);
}
#headings {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-around;
}
h1 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  display: none;
}
h2,
h3 {
  padding: 15px;
  border-radius: 20px;
  color: white;
  background-color: black;
}

#clickerGame {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  overflow: hidden;
}
#mainView {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1 50%;
  justify-content: space-around;
  height: 100%;
  background-color: var(--yellow);
  position: relative;
  color: mediumpurple;
  font-weight: bold;
  border-right: 3px solid var(--border);
}
#sideViewBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 128px;
  height: 64px;
  z-index: 1;
}
#clickerButton {
  width: 250px;
  height: 250px;
  background-image: url("./img/bongocat.jpg");
  background-size: cover;
  background-color: transparent;
  border: 0;
  border-radius: 15px;
}
#clickerButton:active {
  transform: scale(90%);
}
#powerDisplay {
  font-size: 2em;
}
#cpsDisplay {
  font-size: 2em;
}
#cookieDisplay {
  font-size: 4em;
  text-align: center;
}

#sideView {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background-color: var(--blue);
}

#listContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-flow: row nowrap;
  overflow: hidden;
}
#listContainer .shop-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
#sideView .shop-item {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto auto;
  grid-template-rows: auto auto auto;
  border: 3px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--aquamarine);
}
#sideView .shop-item:active {
  background-color: white;
}
.shop-item .item-img {
  width: 100%;
  grid-area: 1 / 1 / -1 / 1;
  border-right: 3px solid var(--border);
}
.shop-item .item-name {
  grid-area: 1 / 2 / 1 / 2;
  font-weight: bold;
}
.shop-item .item-cost {
  grid-area: 1 / 3 / 1 / 3;
}
.shop-item .item-increase {
  grid-area: 2 / 2 / 2 / 2;
}
.shop-item .item-owned {
  grid-area: 3 / 2 / 3 / 3;
}

@media (max-width: 800px) {
  /* i know i should have done it mobile-first but i'm old. at least it was easy! ish */
  #mainView {
    flex-flow: column-reverse;
    border: 0;
  }
  #sideViewBtn {
    display: static;
  }
  #sideView {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
  }
  #sideView .shop-item {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    height: auto;
  }
  .shop-item .item-img {
    width: 100%;
    grid-area: 1 / 1 / 1 / -1;
    border-right: 0;
    border-bottom: 3px solid var(--border);
  }
  .shop-item .item-name {
    grid-area: 2/1/2/-1;
  }
  .shop-item .item-cost {
    grid-area: 3/1/3/1;
  }
  .shop-item .item-increase {
    grid-area: 3/2/3/2;
  }
  .shop-item .item-owned {
    grid-area: 4 / 1 / 4 / 2;
  }
}

/* huge respect to pajasevi@github */
@keyframes falling {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
.cookie {
  background-image: url("./img/ui/yarn-sml.png");
  background-size: cover;
  width: 32px;
  height: 32px;
  position: fixed;
  top: -10%;
  z-index: 999;
  cursor: default;
  user-select: none;
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
}

#toastRack {
  position: absolute;
  display: flex;
  flex-flow: column-reverse nowrap;
  gap: 5px;
  bottom: 0;
  left: 0;
  padding: 15px;
  z-index: 999;
}
.toast {
  padding: 10px;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  border: 3px solid var(--border);
  border-radius: 15px;
}

/* test stuff */
#cheatBtns {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  display: none;
}
#cheatBtns button {
  width: 128px;
  height: 64px;
}
.powerup:active {
  background-color: white;
}
